<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>


<script type="text/template" id="variant-table-template">
    {% for item in table_variants %}
        <li>{{ item.variant_id }}</li>
    {% endfor %}


<table class="tg">
<thead>
  <tr>
    <th class="tg-yw4l">variant_id</th>
    <th class="tg-yw4l">filter</th>
    <th class="tg-yw4l">Func_refgene</th>
    <th class="tg-yw4l">genes</th>
    <th class="tg-yw4l">ExonicFunc_refgene</th>
    <th class="tg-yw4l">AA change</th>
    <th class="tg-yw4l">ExAC_Freq</th>
    <th class="tg-yw4l">MetaSVM</th>
    <th class="tg-yw4l">CADD</th>
    <th class="tg-yw4l">Disease</th>
  </tr>
  <tr>
    <td class="tg-yw4l">12-21172204-T-C</td>
    <td class="tg-yw4l">PASS</td>
    <td class="tg-yw4l">exonic</td>
    <td class="tg-yw4l">SLCO1B7</td>
    <td class="tg-yw4l">synonymous SNV</td>
    <td class="tg-yw4l">SLCO1B7:NM_001009562:exon2:c.T108C:p.F36F</td>
    <td class="tg-yw4l">.</td>
    <td class="tg-yw4l">.</td>
    <td class="tg-yw4l">.</td>
    <td class="tg-yw4l">DDD</td>
  </tr>
</thead>
<tbody>
<% _.each(table_variants, function(variant) { %>
    <tr>
        <td class="tg-yw4l"> <%= variant.variant_id %></td>
        <td class="tg-yw4l"> <%= variant.filter %></td>
        <td class="tg-yw4l"> <%= variant.Func_refgene %></td>
        <td class="tg-yw4l"> <%= variant.genes %></th>
        <td class="tg-yw4l"> <%= variant.ExonicFunc_refgene %></th>
        <td class="tg-yw4l"> <%= variant.AAChange_refgene %></td>
        <td class="tg-yw4l"> <%= variant.ExAC_Freq %></td>
        <td class="tg-yw4l"> <%= variant.RadialSVM_pred %> </td>
        <td class="tg-yw4l"> <%= variant.CADD_phred %> </td>
        <td class="tg-yw4l"> <%= variant.Disease %></td>
    </tr>
    <% }); %>
</tbody>
</table>
<ul id="navigation">
    {% for item in table_variants %}
        <li>{{ item.variant_id }}</li>
    {% endfor %}
</ul>
</script>