{% block variant_table %}
{% include 'variant_selectors.html' %}
{% include "variant_table_template.html" %}
<script>
    $(document).ready(function() {

        // This list is simply copied from utils.py.
        // Obviously that's not ideal, but I wanted to keep this diff isolated.
        // I'm also not sure how you want to serve additional context to the client -
        // yet another template variable also seems suboptimal.
        // xBrowse has a variable DICTIONARY in global scope where we store stuff like this -
        // might want to try that!

        $("#variants_loading").hide();
        $("#variants_table_container").show();
        document.write(table_variants[0].variant_id)
        window.variants_template = _.template($('#variant_table_template').html());
        document.write(table_variants[0].variant_id)
        $('#variants_table_container').html(variants_template({table_variants: table_variants}));


        var data =variants_table_container window.table_variants;
        document.write(data)
        var width = 50;
        var height = 15;

        var x_scale = d3.scale.linear()
            .domain([0, 7])
            .range([0, width]);

        var svg;
        $.each(data, function(i, d) {
            d3.select('#variant_af_box_' + d.variant_id).attr("data-tooltip", "Shows allele frequency \n on a discrete " +
                    "scale: \n singletons, <1/10,000, \n <1/1000, <1%, <5%, \n <50%, >50%. \n This particular variant is \n " +
                    get_af_category(d)[1] + ".");
            svg = d3.select('#variant_af_box_' + d.variant_id)
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g");

            for (var j=0; j<8; j++) {
                svg.append('rect')
                        .style('stroke', 'steelblue')
                        .style('fill', 'white')
                        .attr('x', x_scale(j))
                        .attr('y', 0)
                        .attr('height', height)
                        .attr('width', x_scale(1) - x_scale(0))
            }

            svg.append('rect')
                .style('fill', 'steelblue')
                .attr('x', 0)
                .attr('y', 0)
                .attr('width', function() {
                    return x_scale(get_af_category(d)[0]);
                })
                .attr('height', height);

        });
        update_variants();
        $("#export_to_csv").on('click', function (event) {
            var output_name = window.page_name === undefined ? 'export' : window.page_name;
            var timestamp = date_format(new Date());
            exportTableToCSV.apply(this, [$('#variant_table'), 'exac_' + output_name + '_' + timestamp + '.csv']);
        });
    });
</script>

<div id="variants_loading">Loading variants...</div>
<div id="variants_table_container" style="display: none;"></div>
<div id="variants_table_empty" style="display: none;">No variants found.</div>

{% endblock %}